<div class="main-admin-container">
    <div class="admin-header">
        <div class="admin-header-title">
            <h1 class="heading">Providers Details</h1>
            <button class="insert-button" 
                    title="Add Provider" 
                    mat-mini-fab color="primary" 
                    
                    (click)="onInsertClicked()">
                <mat-icon>add_person</mat-icon>
            </button>
        </div>
    </div>
    <!-- routerLink="/addProviders/add" -->
    <div class="admin-content">
        <ag-grid-angular 
            #agGrid 
            style="height: 500px;" 
            class="ag-theme-quartz" 
            [rowData]="rowData"
            [columnDefs]="colDefs" 
            [rowSelection]="rowSelection" 
            [pagination]="pagination"
            [paginationPageSize]="paginationPageSize" 
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>

        <app-add-provider
                          *ngIf="isInserting" 
                          (insertSaved)="onInsertSaved($event)" 
                          (insertCancel)="onInsertCancel()"
                          #newProviderForm>
        </app-add-provider>
    </div>
</div>
