.ag-theme-quartz {
  --ag-foreground-color: rgb(42, 50, 196);
  --ag-background-color: white;
  --ag-header-foreground-color: rgb(204, 245, 172);
  --ag-header-background-color: rgb(42, 50, 196);
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
  --ag-header-column-resize-handle-color: rgb(42, 50, 196);

  --ag-font-size: 17px;
  --ag-font-family: "Poppins";
}


/* providers.component.css */
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 20px 50px;
  border-radius: 8px;
  align-items: center;
}

.main-admin-container {
  max-width: 100%;
  margin-top: 100px;
  margin-left: 160px;
}

.heading {
  color: #2a32c4;
  margin-left: 60px;
  font-size: 1.8rem;
  font-family: 'poppins';
  font-weight: 800;
}

.insert-button{
  margin-left: 60px;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.admin-content {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 150px;
}


/*Responsive*/
@media screen and (max-width: 950px) {

  .heading{
    margin-left: 10px;
  }

  .insert-button{
    margin-left: 10px;
  }

  .main-admin-container{
    margin-left: 70px;
    margin-right: 20px;
  }
  .container{
    padding: 0px;
    margin: 0px;
  }

  .admin-content {
    margin-left: 10px;
    margin-right: 0px /* Adjusted margins for medium screens */
  }
}

