<div class="top-nav">
    <div class="app-logo">
      <img
      src="assets/images/insurance.jpeg"
      height="50px"
      width="60px"
      alt="360-logo"
    />
    </div>
    <div class="app-title">Insurance</div>
    <div (click)="logout()" class="logout-button">
      <mat-icon matTooltip="Logout" >logout</mat-icon>
    </div>
  </div>
  <!-- <div class="progress-bar-container">
    <mat-progress-bar *ngIf="shouldShowProgressBar()" mode="indeterminate"></mat-progress-bar>
  </div> -->

  <div>
 
  </div>
  
  